<div class="px-10">
  <h5 class="font-bold my-2">Create User</h5>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label Class="w-full text-md font-light"
        >First Name
        <div class="relative w-full pt-2 flex items-center">
          <input
            type="text"
            formControlName="firstName"
            class="border border-grey-600 w-full h-10 py-2 px-4 text-sm rounded"
            placeholder="First Name"
          />
        </div>
      </label>
    </div>
    <div>
      <label Class="w-full text-md font-light"
        >Last Name
        <div class="relative w-full pt-2 flex items-center">
          <input
            type="text"
            formControlName="lastName"
            class="border border-grey-600 w-full h-10 py-2 px-4 text-sm rounded"
            placeholder="Last Name"
          />
        </div>
      </label>
    </div>
    <div>
      <label Class="w-full text-md font-light"
        >Email
        <div class="relative w-full pt-2 flex items-center">
          <input
            type="text"
            formControlName="email"
            class="border border-grey-600 w-full h-10 py-2 px-4 text-sm rounded"
            placeholder="Email address"
          />
        </div>
      </label>
    </div>
    <div formGroupName="address" class="my-6">
      <h4 class="uppercase font-bold text-lg">Address</h4>
        <div class="w-full">
          <label Class="w-full text-md font-light"
            >Line One
            <div class="pt-2 flex items-center">
              <input
                type="text"
                formControlName="lineOne"
                class="border border-grey-600 w-full h-10 py-2 px-4 text-sm rounded"
                placeholder="Enter address line one"
              />
            </div>
          </label>
        </div>
        <div class="w-full">
          <label Class="w-full text-md font-light"
            >Line Two
            <div class="pt-2 flex items-center">
              <input
                type="text"
                formControlName="lineTwo"
                class="border border-grey-600 w-full h-10 py-2 px-4 text-sm rounded"
                placeholder="Enter address line two"
              />
            </div>
          </label>
      </div>
      <div class="w-full">
        <label Class="w-full text-md font-light"
          >City
          <div class="pt-2 flex items-center">
            <input
              type="text"
              formControlName="city"
              class="border border-grey-600 w-full h-10 py-2 px-4 text-sm rounded"
              placeholder="City"
            
            />
          </div>
        </label>
      </div>
      <div class="w-full">
        <label Class="w-full text-md font-light"
          >State
          <div class="pt-2 flex items-center">
            <input
              type="text"
              formControlName="state"
              class="border border-grey-600 w-full h-10 py-2 px-4 text-sm rounded"
              placeholder="State"
            />
          </div>
        </label>
      </div>
      <div class="w-full">
        <label Class="w-full text-md font-light"
          >Country
          <div class="pt-2 flex items-center">
            <input
              type="text"
              formControlName="country"
              class="border border-grey-600 w-full h-10 py-2 px-4 text-sm rounded"
              placeholder="Country"
            />
          </div>
        </label>
      </div>
    </div>
    <p>{{status}}</p>
    <div class="mt-10">
      <button
        type="submit"
        class="bg-blue-600 p-2 text-white rounded w-32"
      >
        Submit
      </button>
    </div>
  </form>
</div>
